ruff
fastapi
uvicorn
python-dotenv
tortoise-orm
tomlkit
aerich
PyJWT
passlib
bcrypt
pydantic[email]
unstructured[all-docs]
requests
PyMuPDF
pillow
pytesseract
camelot-py[cv]
pdfplumber
tabula-py
openai
azure-identity
azure-keyvault-secrets
spacy
nltk
scikit-learn
